@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header .crearCuenta {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }
  @media (max-width: 1025px) {
    header .crearCuenta {
      order: 2; } }

header .iniciarSesión {
  font-size: 0.875rem;
  font-family: "Neucha", cursive;
  margin: 35px 40px 10px 0px; }
  @media (max-width: 1025px) {
    header .iniciarSesión {
      font-size: 12px; } }

header .nombre {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 0px 0px 30px; }
  @media (max-width: 1025px) {
    header .nombre {
      margin: 30px 0px 0px 10px;
      display: none; } }

header .nombreMarca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 27px 0px 20px 0px; }

header .pottery {
  font-family: "Satisfy", cursive;
  margin-left: 53px; }

header .logosBucadorCarrito {
  margin: 0px 0px 0px 100px; }
  @media (max-width: 1025px) {
    header .logosBucadorCarrito {
      margin: 0; } }
  header .logosBucadorCarrito img {
    height: 30px; }

header nav .navegador {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 55px 0px 10px 0px;
  padding: 8px;
  background-color: rgba(255, 192, 203, 0);
  list-style-type: none; }
  @media (max-width: 1025px) {
    header nav .navegador {
      display: none; } }
  header nav .navegador ul {
    list-style: none;
    padding: 20px;
    font-size: 0;
    width: 310%;
    position: absolute;
    display: none;
    z-index: 1; }
    header nav .navegador ul li {
      display: block; }
      @media (max-width: 1025px) {
        header nav .navegador ul li {
          display: inline-block;
          margin-left: 45px; } }
      header nav .navegador ul li:not(:last-child) {
        border-right: 1px solid black; }
  header nav .navegador li {
    display: inline-block;
    position: relative;
    font-size: 1.125rem;
    font-family: "Mali", cursive; }
    header nav .navegador li:hover ul {
      display: flex;
      width: 600px; }
    header nav .navegador li a {
      padding: 8px; }
      header nav .navegador li a:hover {
        font-weight: bold; }
    @media (max-width: 1025px) {
      header nav .navegador li {
        display: block;
        font-size: 16px;
        margin: -3px;
        text-align: center; } }

header nav .navLink {
  text-decoration: none;
  color: black;
  font-family: "Mali", cursive;
  font-weight: normal;
  font-size: 1.15rem; }
  @media (max-width: 1025px) {
    header nav .navLink {
      font-size: medium; } }

header nav .navBarContainer {
  margin-left: 20px; }

header .containerDos {
  display: none; }
  @media (max-width: 1025px) {
    header .containerDos {
      display: flex; }
      header .containerDos .navBar {
        background-color: rgba(99, 8, 22, 0.26);
        flex: 1; }
        header .containerDos .navBar .marcaMobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          order: 1;
          flex: 1; }
          header .containerDos .navBar .marcaMobile .pottery {
            margin-left: 0; }
        header .containerDos .navBar a {
          color: black; }
          header .containerDos .navBar a:hover {
            font-weight: bold; }
        header .containerDos .navBar .nav-item:not(:last-child) {
          margin-bottom: 7px; }
      header .containerDos .navbar-expand-custom .navbar-collapse .show {
        display: flex !important;
        flex-basis: auto; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Neucha", cursive;
  background-color: white; }
  body a {
    color: black;
    text-decoration: none; }
    body a:hover {
      color: black;
      text-decoration: none; }
  body img {
    opacity: 1; }
    body img:hover {
      opacity: .8;
      transition: 0.1s; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

footer {
  background-color: rgba(99, 8, 22, 0.26); }
  footer .insta {
    text-align: center;
    font-size: larger;
    background-color: rgba(99, 8, 22, 0.322);
    margin: 25px 0px 0px auto;
    font-family: "Handlee", cursive; }
  footer .logoDeInsta {
    background-color: white;
    text-align: center; }
    footer .logoDeInsta img {
      height: 45px; }
  footer .seguinos {
    text-align: center;
    font-size: larger;
    background-color: rgba(99, 8, 22, 0.322);
    margin: 0px 0px 20px auto;
    font-family: "Handlee", cursive; }
  footer .mapa {
    font-family: "Neucha", cursive;
    margin: 3px;
    font-size: 1rem;
    margin-left: 20px;
    margin-top: 7px; }
  footer .footerList {
    display: inline-block;
    width: 50%;
    margin-left: 10px;
    list-style-type: none;
    font-family: "Neucha", cursive;
    font-size: 1rem;
    font-weight: bold; }
    footer .footerList a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.692);
      margin-left: 30px; }
    @media (max-width: 697px) {
      footer .footerList {
        width: 40%;
        font-size: 14px; } }
  footer .seccFooterInfo {
    display: inline-block;
    width: 47%; }
    footer .seccFooterInfo .footerInfo {
      display: flex;
      flex-direction: column;
      text-align: end;
      margin-bottom: 5px;
      font-family: "Neucha", cursive;
      font-size: 1rem;
      font-weight: bold; }
      @media (max-width: 697px) {
        footer .seccFooterInfo .footerInfo {
          width: 100%;
          font-size: 14px; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

main .primerasImágenes {
  margin: 30px 0px 30px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  --animate-duration: 2s; }
  main .primerasImágenes img {
    height: 424.531px; }
    @media (max-width: 320px) {
      main .primerasImágenes img {
        height: 320px;
        width: 320px; } }

main .envíoTransfTarjetas {
  border: groove;
  border-width: 0.5px;
  padding: 10px;
  font-weight: bold;
  font-family: "Neucha", cursive;
  background-color: rgba(99, 8, 22, 0.322); }
  main .envíoTransfTarjetas .envio {
    display: inline-block;
    width: 30%;
    text-align: left;
    margin: 20px 0px 20px 18px; }
    @media (max-width: 697px) {
      main .envíoTransfTarjetas .envio {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0px 0px 20px 0px; } }
  main .envíoTransfTarjetas .transf {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 20px 0px 20px auto; }
    @media (max-width: 697px) {
      main .envíoTransfTarjetas .transf {
        display: block;
        width: 100%;
        text-align: center;
        margin: 20px 0px 20px 0px; } }
  main .envíoTransfTarjetas .tarjetas {
    display: inline-block;
    width: 36%;
    text-align: right; }
    @media (max-width: 697px) {
      main .envíoTransfTarjetas .tarjetas {
        display: block;
        width: 100%;
        text-align: center; } }

main .destacadosTítulo {
  font-size: 1.563rem;
  background-color: rgba(99, 8, 22, 0.26);
  margin: 50px 0px 30px 200px;
  font-family: "Neucha", cursive;
  padding: 12px;
  height: 55px; }
  main .destacadosTítulo .destac {
    text-decoration: none; }
    main .destacadosTítulo .destac:hover {
      font-weight: bold; }
  @media (max-width: 697px) {
    main .destacadosTítulo {
      margin: 50px 0px 10px 90px;
      padding: 10px;
      height: 40px; } }

main .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0px 0px 40px 0px;
  padding: 0px; }
  main .container .descripciónCarouselInicio {
    font-size: 20px;
    font-weight: bold;
    --animate-duration: 3s; }
    main .container .descripciónCarouselInicio a {
      color: rgba(0, 0, 0, 0.733);
      text-decoration: none; }
      main .container .descripciónCarouselInicio a:hover {
        color: black; }

main .novedades {
  text-align: center;
  font-style: italic;
  font-size: larger;
  margin: 20px;
  font-family: "Neucha", cursive; }

main .botonSeccion {
  display: flex;
  justify-content: center; }

main .margenDelBoton {
  padding: 0px;
  margin: 0px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

main .tienda {
  font-size: 2.088rem;
  background-color: rgba(99, 8, 22, 0.26);
  width: 100%;
  text-align: center;
  margin-top: 30px; }

@media (max-width: 697px) {
  main .secTiendaDispGrandes {
    display: none; } }

main .secTiendaDispGrandes .tituloFiltros {
  font-size: 1.563rem;
  margin-top: 30px;
  text-align: center;
  background-color: rgba(99, 8, 22, 0.26);
  width: 100%;
  padding: 2px; }

main .secTiendaDispGrandes .tiposDeFiltros {
  margin: 20px 30px 20px 30px;
  font-size: large;
  list-style: none;
  text-align: center;
  font-weight: bold;
  height: 75px; }
  main .secTiendaDispGrandes .tiposDeFiltros .tazasYplatos:hover {
    font-size: 20px; }
  main .secTiendaDispGrandes .tiposDeFiltros .bowlsYmates:hover {
    font-size: 20px; }
  main .secTiendaDispGrandes .tiposDeFiltros .macetasYfloreros:hover {
    font-size: 20px; }

main .secTiendaDispGrandes .imagenesDeLaTienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  --animate-duration: 2s; }
  main .secTiendaDispGrandes .imagenesDeLaTienda img {
    margin: 30px 0px 0px 0px;
    height: 250px; }

main .subtítuloTienda {
  display: none; }
  @media (max-width: 697px) {
    main .subtítuloTienda {
      display: flex;
      font-size: x-large;
      background-color: rgba(99, 8, 22, 0.26);
      margin-top: 30px;
      padding: 5px;
      text-align: center; }
      main .subtítuloTienda a {
        flex: 1; }
        main .subtítuloTienda a:hover {
          font-weight: bold; } }

main .containerTres {
  display: none; }
  @media (max-width: 697px) {
    main .containerTres {
      display: flex;
      margin: 20px; } }

main .subtitulo {
  font-size: 1.563rem;
  background-color: rgba(99, 8, 22, 0.26);
  margin: 50px 0px 0px 200px;
  padding: 5px; }

main .descripYbotonesImg {
  display: flex;
  justify-content: center; }

main .row {
  margin-right: 0;
  margin-left: 0; }

main .boton {
  background-color: red;
  color: black; }

main .botonDos {
  background-color: rgba(99, 8, 22, 0.26);
  color: black; }

main .cards {
  --animate-duration: 2s; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

main .Preguntas {
  font-size: 2.088rem;
  background-color: rgba(99, 8, 22, 0.26);
  width: 100%;
  text-align: center;
  margin-top: 30px; }

main .preguntasFrecuentes {
  background-color: rgba(230, 98, 98, 0.247);
  margin: 20px 40px 20px 40px;
  line-height: 30px;
  text-align: justify;
  font-family: "Neucha", cursive;
  padding: 30px; }
  main .preguntasFrecuentes p {
    font-size: 1.2em; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

main .Nosotras {
  font-size: 2.088rem;
  background-color: rgba(99, 8, 22, 0.26);
  width: 100%;
  text-align: center;
  margin-top: 30px; }

main .nosotrasContainer {
  display: flex;
  align-items: center; }
  @media (max-width: 900px) {
    main .nosotrasContainer {
      flex-wrap: wrap;
      justify-content: center; } }
  main .nosotrasContainer .foto {
    padding: 2px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-left: 50px; }
    main .nosotrasContainer .foto img {
      height: 300px; }
  main .nosotrasContainer .textoNosotras {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin: 40px;
    min-width: 550px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

main .Contacto {
  font-size: 2.088rem;
  background-color: rgba(99, 8, 22, 0.26);
  width: 100%;
  text-align: center;
  margin-top: 30px; }

main .contactos {
  color: black;
  text-align: center;
  margin-top: 30px;
  background-image: url("../imagenes/p cuchara.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9; }
  main .contactos .fildset {
    padding-top: 30px;
    font-size: 1rem; }
  main .contactos .nombreDelContacto {
    margin: 0px 0px 20px 0px;
    font-weight: bold; }
  main .contactos .email {
    margin: 0px 0px 20px 0px;
    font-weight: bold; }
  main .contactos .motivo {
    margin: 0px 0px 20px 0px;
    font-weight: bold; }
  main .contactos .yaCompraste {
    margin: 0px 0px 20px 0px;
    font-weight: bold; }
  main .contactos .teLeo {
    margin: 0px 0px 10px 0px;
    font-weight: bold; }
  main .contactos .términosCondiciones {
    margin: 10px 0px 10px 0px;
    font-weight: bold; }
  main .contactos .enviarDescartar {
    margin-bottom: 20px; }
