* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  main {
    .tienda {
      font-size: $sizeSubtitulos;
      background-color: $bgVioleta;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    .secTiendaDispGrandes {
      @media (max-width: 697px) {
        display: none;
      }
      .tituloFiltros {
        font-size: $sizeSubtitulosChicos;
        margin-top: 30px;
        text-align: center;
        background-color: $bgVioleta;
        width: 100%;
        padding: 2px;
      }
      .tiposDeFiltros {
        margin: 20px 30px 20px 30px;
        font-size: large;
        list-style: none;
        text-align: center;
        font-weight: bold;
        height: 75px;
        @mixin secFiltros {
          &:hover {
            font-size: 20px;
          }
        }
        .tazasYplatos {
          @include secFiltros()
        }
        .bowlsYmates {
          @include secFiltros()
        }
        .macetasYfloreros {
          @include secFiltros()
        }
      }
      .imagenesDeLaTienda {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        --animate-duration: 2s;
        img {
          margin: 30px 0px 0px 0px;
          height: 250px;
        }
      }
    }
    .subtítuloTienda {
      display: none;
      @media (max-width: 697px) {
        display: flex;
        font-size: x-large;
        background-color: $bgVioleta;
        margin-top: 30px;
        padding: 5px;
        text-align: center;
        a {
          flex:1;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
    .containerTres {
      display: none;
      @media (max-width: 697px) {
        display: flex;
        margin: 20px;
      }
    }
    .subtitulo {
      font-size: $sizeSubtitulosChicos;
      background-color: $bgVioleta;
      margin: 50px 0px 0px 200px;
      padding: 5px;
    }
    .descripYbotonesImg {
      display: flex;
      justify-content: center;
    }
    .row {
      margin-right: 0;
      margin-left: 0;
    }
    .notificacion {
      border: 1px solid black;
      position: fixed;
      z-index: 100;
      left: 20px;
      background-color: white;
      width: 300px;
      height: 100px;
      bottom: 20px;
      display: none;
      font-size: 20px;
      text-align: center;
      align-items: center;
      justify-content: center;
      &.desplegado {
        display: inherit;
      }  
    }
    
    .botonDos {
      background-color: $bgVioleta;
      color: black;
    }
    .btn {
      max-height: 38px;
      &.btn-focused {
        zoom: 1.1;
        max-height: unset;
      }
    }    
    .cards {
      --animate-duration: 2s;
    }
  }
