$fuenteGeneral: "Neucha", cursive;
$bgRosa: rgba(255, 218, 224, 0.897);
$bgGradiente1: rgb(2,0,36);
$bgGradiente2: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,216,243,1) 0%, rgba(255,251,174,1) 100%);
$heightImg: 320px;
$sizeDeLetraGeneral: 1rem;
$sizeSubtitulos: 2.088rem;
$sizeSubtitulosChicos: 1.563rem;

