$fuenteGeneral: "Neucha", cursive;
$bgRosa: rgba(255, 218, 224, 0.897);
$bgGradiente1: rgb(2,0,36);
$bgGradiente2: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,220,247,1) 0%, rgba(255,74,166,0.47942927170868344) 100%);
$heightImg: 320px;