$fuenteGeneral: "Neucha", cursive;
$bgVioleta: rgba(99, 8, 22, 0.26);
$bgVioletaOscuro: rgba(99, 8, 22, 0.562);
$heightImg: 320px;
$sizeDeLetraGeneral: 1rem;
$sizeSubtitulos: 2.088rem;
$sizeSubtitulosChicos: 1.563rem;



